/* Google Homepage*/
body {
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    overflow: hidden;
  }
  
  header {
    width: 100%;
  }
  
  ul {
    list-style: none;
  }
  
  #nav_bar {
    float: right;
  }
  
  #nav_bar li {
    display: inline-block;
    padding: 8px;
  }
  
  
  .nav-links {
    color: #404040;
  }
  
  a {
    text-decoration: none;
    color: inherit; 
    transition: all 0.2s ease-in-out
  }

  
  li.nav-links>a:hover {
    text-decoration: underline;
    color: #000;
}

    .google #google_logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 112px;
    padding-bottom: 30px;
  }
  
  .form {
    text-align: center;
  }
  
  #form-search { 
    width: 580px;
    line-height: 32px;
    padding: 0px 10px;
    border-radius: 15px;
    outline: none;
    border: 0.1px solid rgba(0,0,0,0.2);
    height: 45px;
    box-shadow: 0 4px 6px rgba(32,33,36,.28);
  }

    #form-search:focus, #form-search:hover {
    box-shadow: inset 0px 4px 6px rgba(153,153,153,0.57);
}

  .buttons {
      text-align: center;
  }
  .buttons .btn {
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 30px;
}
    .btn:hover {
    box-shadow: 0px 0px 3px 3px rgba(128, 128, 128, 0.53);
    background: #f4f4f4;
    color: rgba(0, 0, 0, 0.7);
    color: black ;
}
  .btn:focus, .btn:active {
    outline: none;
    border: 0.8px solid black;
}
/*--------- Google Images Exceptions -----------*/
    .google #google_logo_img {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 75px;
    padding-bottom: 30px;
}
